<% if contact.contact_form_links.any? %>
  <div class="online-forms">
    <h2>Online forms</h2>
    <ul class="form-links">
      <%= render partial: "contact_form_link", collection: contact.contact_form_links %>
    </ul>
    <div class="govspeak">
      <%= raw contact.more_info_contact_form %>
    </div>
  </div>
<% end -%>

<% if contact.email_addresses.any? %>
  <h2 class="details-header">Email</h2>
  <div class="details">
    <ul class="email">
      <%= render partial: "email_address", collection: contact.email_addresses %>
    </ul>
    <div class="govspeak">
      <%= raw contact.more_info_email_address.to_s %>
    </div>
  </div>
<% end %>

<% if contact.show_webchat? %>
  <h2 class="details-header">Web chat</h2>
  <div class="details js-webchat">
    <div class="description govspeak">
      <p class="js-webchat-advisers-unavailable">
        Currently there are no advisers available to service your request, please try again later.
      </p>
      <p class="js-webchat-advisers-busy hidden">
        All our advisers are currently busy, please try again later.
      </p>
      <p class="js-webchat-advisers-available hidden">
        Advisers are available to chat. <a href="#" rel="external" class="js-webchat-open-button">Speak to an adviser now</a>.
      </p>
      <h4>Opening times:</h4>
      <p>8am to 8pm, Monday to Friday<br>8am to 4pm Saturday</p>
      <p>Closed Sundays, Christmas Day, Boxing Day and New Year’s Day</p>
    </div>
  </div>
<% end %>

<% if contact.phone_numbers.any? %>
  <h2 class="details-header">Phone</h2>
  <div class="details">
    <%= render partial: "phone_number", collection: contact.phone_numbers %>
  <div class="govspeak">
      <%= raw contact.more_info_phone_number %>
    </div>
  </div>
<% end %>

<% if contact.post_addresses.any? %>
  <h2 class="details-header">Post</h2>
  <div class="details">
    <%= render partial: "post_address", collection: contact.post_addresses %>
    <div class="govspeak">
      <%= raw contact.more_info_post_address %>
    </div>
  </div>
<% end %>
