<% if post_address.description.present? %>
  <div class="description govspeak">
    <%= raw post_address.description %>
  </div>
<% end %>
<div class="vcard">
  <h3 class="fn"><%= post_address.title %></h3>
  <span class="street-address"><%= post_address.street_address %></span>
  <span class="locality"><%= post_address.locality %></span>
  <span class="region"><%= post_address.region %></span>
  <span class="postal-code"><%= post_address.postal_code %></span>
  <% if post_address.world_location.present? %>
  <span class="country-name"><%= post_address.world_location %></span>
  <% end %>
</div>
