<% content_for :page_class, 'contact-show' %>
<% content_for :breadcrumbs do %>
  <li>
    <%= link_to organisation.title, "/government/organisations/#{organisation.slug}" %>
  </li>
  <li>
    <%= link_to "Contact #{organisation.abbreviation}", "/government/organisations/#{organisation.slug}/contact" %>
  </li>
<% end %>

<header class="header-block">
  <div class="heading">
    <p class="type">Contact details</p>
    <h1><%= @contact.title %></h1>
  </div>

  <% if @contact.links.related.any? %>
    <nav class="heading-extra">
      <ul class="quick-links">
        <% @contact.links.related.each do |link| %>
          <li>
            <%= link_to link.title, link.web_url %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
</header>

<%= render "contact_details", contact: @contact %>

<% if @contact.query_response_time %>
  <p class="response"><%= link_to "Find out when to expect a response to your query", "http://www.hmrc.gov.uk/tools/progress-tool/index.htm" %></p>
<% end -%>
