<% content_for :extra_headers do %>
  <% if @contact.description.present? %>
    <meta name='description' content='<%= @contact.description %>' />
  <% end %>
<% end %>

<% content_for :page_title, "#{@contact.title} - Contact #{organisation.title}" %>

<%= render partial: "govuk_component/breadcrumbs", locals: {
  breadcrumbs: [
    {
      title: "Home",
      url: "/",
    },
    {
      title: organisation.title,
      url: organisation.base_path,
    },
    {
      title: "Contact #{organisation.title}",
      url: "#{organisation.base_path}/contact",
    },
  ]
} %>

<div class="grid-row">
<main id="content" class="contact-show">
  <header class="header-block">
    <div class="heading">
      <h1><%= @contact.title %></h1>
    </div>
  </header>

  <div class="beta-wrapper">
    <%= render 'govuk_component/beta_label' %>
  </div>

  <%= render "contact_details", contact: @contact %>

  <% if @contact.query_response_time %>
    <p class="response"><%= link_to "Find out when to expect a response to your query", "http://www.hmrc.gov.uk/tools/progress-tool/index.htm" %></p>
  <% end -%>
</main>

<div class="related-container">
  <%= render partial: "govuk_component/related_items", locals: RelatedItems.new(@contact).payload %>
</div>
