<% content_for :page_class, 'contact-show' %>
<% content_for :breadcrumbs do %>
  <li>
    <%= link_to organisation.title, "/government/organisations/#{organisation.slug}" %>
  </li>
  <li>
    <%= link_to "Contact #{organisation.abbreviation}", "/government/organisations/#{organisation.slug}/contact" %>
  </li>
<% end %>

<header class="header-block">
  <div class="heading">
    <h1><%= @contact.title %></h1>
  </div>
</header>

<%= render "contact_details", contact: @contact %>

<% if @contact.query_response_time %>
  <p class="response"><%= link_to "Find out when to expect a response to your query", "http://www.hmrc.gov.uk/tools/progress-tool/index.htm" %></p>
<% end -%>

<% if @contact.quick_links.any? or @contact.related_links.any? %>
  <div class="related-positioning">
    <div class="related-container">
      <nav class="related">
        <% if @contact.quick_links.any? %>
          <h2 id="parent-subsection">Elsewhere on GOV.UK</h2>
          <ul role="navigation" aria-labelledby="parent-subsection" class="quick-links">
            <% @contact.quick_links.each do |link| -%>
              <li>
                <%= link_to link.title, link.url %>
              </li>
            <% end -%>
          </ul>
        <% end -%>
        <% if @contact.related_links.any? %>
          <h2 id="parent-subsection">Other contacts</h2>
          <ul role="navigation" aria-labelledby="parent-subsection" class="related-links">
            <% @contact.related_links.each do |link| -%>
              <li>
                <%= link_to link.title, link.web_url %>
              </li>
            <% end -%>
          </ul>
        <% end -%>
      </nav>
    </div>
  </div>
<% end %>
