<!DOCTYPE html>
<html>
<head>
  <title><%= organisation.title %> contacts - GOV.UK</title>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application.css" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="contacts-body">

<div id="global-breadcrumb" class="header-context group">
  <ol role="breadcrumbs" class="group">
    <li>
      <%= link_to "Home", '/' %>
    </li>
    <%= yield :breadcrumbs %>
  </ol>
</div>

<div id="wrapper" class="contacts-wrapper">
  <div class="contacts-content">
    <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
      <%= yield %>
    </div>
    <div id="report-a-problem"></div>
  </div>
</div>

</body>
</html>
